DATABASE_URL="postgresql://username:password@127.0.0.1:5432/blog"
JWT_SECRET="secret"
JWT_EXPIRES_IN=90
NODE_ENV=development
PORT=3000
COOKIE_EXPIRES_IN=90
THROTTLE_TTL=60
THROTTLE_LIMIT=3600
COMPRESSION_THRESHOLD=1024
SMTP_HOST="smtp://"
SMTP_PORT=5000
SMTP_USERNAME="username"
SMTP_PASSWORD="password"
SMTP_FROM="Blog"
MINIO_ENDPOINT="127.0.0.1"
MINIO_PORT=9000
MINIO_ACCESS_KEY="miniousername"
MINIO_SECRET_KEY="miniopassword"