POSTGRES_DB=blog
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db
SECRET_KEY=change-me-local-dev-secret
ACCESS_TOKEN_EXPIRE_MINUTES=300
S3_SECURE=False
S3_ENDPOINT=seaweedfs
S3_ACCESS_KEY=seaweedfs-admin
S3_SECRET_KEY=seaweedfs-admin-secret
S3_PORT=8333
PYTHONASYNCIODEBUG=1