POSTGRES_DB=blog
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db
SECRET_KEY=change-me-local-dev-secret
ACCESS_TOKEN_EXPIRE_MINUTES=300
MINIO_SECURE=False
MINIO_ENDPOINT=minio
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
PYTHONASYNCIODEBUG=1